@import '~bootstrap/scss/bootstrap';
/* $primary: rgba(2, 130, 249, 1);
$secondary: rgba(48, 48, 48, 1);
$dark: rgba(28, 28, 28, 1);
$lighter: rgba(255, 255, 255, 1);
$linkFooter: rgba(128, 128, 128, 1);
$darkLight: rgba(70, 70, 73, 1); */

/* #region COMMON and Utilities */

* {
    font-family: 'Roboto', sans-serif;
}

.container_small {
    max-width: 1020px;
    margin: auto;
}

.bg_dark {
    background-color: rgba(28, 28, 28, 1);
}

.text_dark_blue {
    color: #243f5e;
}

.text_light_green {
    color: #b1f688;
}

/* #endregion COMMON and Utilities */

#app_header {
    .logo img {
        height: 80px;
    }

    li {
        height: 120px;
    }

    a {
        color: rgba(70, 70, 73, 1);
        font-weight: 600;
    }

    li:hover {
        border-bottom: 5px solid rgba(2, 130, 249, 1);
        cursor: pointer;
    }

    li:hover a {
        color: rgba(2, 130, 249, 1);
        margin-bottom: -5px;
    }
}

main {

    .jumbotron {
        background-image: url(../images/jumbotron.jpg);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #current_series {
        top: -60px;
        left: 0;
    }


    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: top;
    }

    .banner_main {
        background-color: rgba(2, 130, 249, 1);
        min-height: 150px;

        img {
            height: 60px;
            object-fit: contain;
        }

        div:last-child>img {
            width: 55px;
        }
    }

    /* #region show_page */

    #current_comic {
        position: relative;
        bottom: 110%;
        left: 0%;
        width: 150px;
        border: 1px solid white;
    }

    #banner_blue {
        width: 100%;
        height: 80px;
        background-color: rgba(2, 130, 249, 1);
    }

    .banner_green {
        background-color: #55ba59;
        border-bottom: 1px solid green;

        .avaibility_box {
            border-left: 1px solid green;
        }
    }

    .description {
        color: #5a5d61
    }

    .bottom_show_page {
        background-color: #f6f6f6;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;

        .series_comic {
            color: rgba(2, 130, 249, 1);
        }
    }

    .banner_show_page {
        background-color: #f6f6f6;
        min-height: 70px;
        font-size: 0.75rem;

        .card_banner_show:first-child {
            border-left: 1px solid #d8d8d8;
        }

        .card_banner_show {
            border-right: 1px solid #d8d8d8;

            img {
                max-height: 40px;
                object-fit: contain;
                filter: invert(20%);
            }
        }
    }

    /* #endregion show_page */

}

#app_footer {
    #footer_top {
        min-height: 370px;
        background-image: url(../images/footer-bg.jpg);

        #logo_bg_main {
            background-image: url(../images/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        ul {
            list-style: none;

            h4 {
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: rgba(128, 128, 128, 1);
            }

            a:hover {
                color: rgba(255, 255, 255, 1);
            }
        }

        .site_credits {
            color: rgba(128, 128, 128, 1);

            a {
                text-decoration: none;
                color: rgba(2, 130, 249, 1);
            }
        }
    }

    #footer_bottom {
        background-color: rgba(48, 48, 48, 1);
        min-height: 110px;

        .col {
            height: 110px;

            .my_btn {
                border: 2px solid rgba(2, 130, 249, 1);
                border-radius: 0;
                color: white;
                padding: 0.5rem;
            }

            p {
                color: rgba(2, 130, 249, 1);
            }
        }
    }
}